
@import 'base';

// Basic Setup


.container,.body-container{
    max-width: 1240px;
    margin-left: 50%;
    width: 100%;
    transform: translateX(-50%);
    @media (max-width:1239px) {
        @include paddingX(1rem);
    }
}


.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}