
/*===================================================
    Global
====================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: #171c8f;
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1, h2, h3, h4, h5, h6, span, label,div {
    @include font_regular;
}

iframe {
    width: 100%;
    min-height: 360px;
}

body {
    margin: 0;
    @include font_regular;
    background: #fff;
}

html, body {
    line-height: normal;
}
b{
    @include gotham_medium;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
} 


h1,.heading_1{
    @include font_medium();
    font-size: $h1_size;
    color: $black_900_color;
}
h2,.heading_2{
    @include font_medium();
    font-size: $h2_size;
    color: $black_800_color;
}
h3,.heading_3{
    @include font_medium();
    font-size: $h3_size;
    color: $black_700_color;
}
h4,.heading_4a{
    @include font_medium();
    font-size: $h4_size;
    color: $black_500_color;
}
h5,.heading_4b{
    @include font_medium();
    font-weight: 300;
    font-size: $h5_size;
    color: $black_500_color;
}


