/*===================================================
    Gotham Font
====================================================*/
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Thin.otf") format("OpenType");
    font-weight: 100;
}
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-XLight.otf") format("OpenType");
    font-weight: 200;
}


@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-light.otf") format("OpenType");
    font-weight: 300;
}
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Book.otf") format("OpenType");
    font-weight: 400;
}
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Medium.otf") format("OpenType");
    font-weight: 500;
}
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Black.otf") format("OpenType");
    font-weight: 600;
}
@font-face {
    font-family: "Gotham";
    src: url("../../fonts/Gotham/Gotham-Ultra.otf") format("OpenType");
    font-weight: 700;
}




